:host {
  display: grid;
  grid-template-areas:
    "nav form"
    "nav form"
    "nav form";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 200px 1fr;
}

nav {
  grid-area: nav;
  overflow: auto;
}

form, nav {
  padding: 20px 5px 5px;
}

.content {
  grid-area: form;
  background: #ABABAB;
}

.inner{
  max-width: 400px;
}
